* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../image/bg4.jpg");
    height: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    height: fit-content;
    border-radius: 20px;
    padding: 25px;
    margin: 20px auto;
    text-align: center;
    position: relative;
    background-color: #448589e0;
    opacity: 0.9;
}
table, th, td{
border:1px solid rgb(255, 255, 255);
}
.mytable {
    border-collapse: collapse;
    margin: 10px;
    margin-left: 15%;
    width: 70%;
}

.mytable th,
td {
    padding: 8px 10px;
}

.price-range {
    width: 100px;
    margin: 10px;
    border: 1px solid white;
    height: 30px;
    border-radius: 10px;
}

#fly {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
}

input[type=number] {
    outline: none;
    padding: 1px 10px;
    text-align: center;
    width: 50%;
    height: 21px;
    border-radius: 8px;
    border-color: white;
    border: 1px;
}

.m {
    margin: auto 16px;
    padding-left: 0px;
}

.menu li {
    list-style: none;
}

.menu a {
    color: white;
    font-size: 25px;
    text-decoration: none;
    font-size: 23px;
}

.menu a:hover {
    color: orange;
}

.itemx, .item {
    color: white;
    list-style: none;
    margin: 0 8px;
    display: inline-block;
}

.menu {
    display: flex;
    justify-content: space-between;
    background-color: #2a484a5c;
    margin-bottom: 10px;
    opacity: 0.8;
    height: 50px;
    width: 102.2%;
    margin-left: -12px;
}
footer{
display: flex;
justify-content: center;
text-align: center;
background-color:  #2a484a5c;
margin-bottom: 10px;
opacity: 0.8;
height:80px;
margin-top: 10px;
font-size: 16px;
width: 102.2%;
margin-left: -12px;
} 
footer p{
    margin-right: 280px;
}

th,
.son {
    font-size: 18px;
}

td {
    color: white;

}

hr:not([size]) {
    height: 1px;
}

hr {
    width: 68%;
    margin-left: 178px;
    margin-top:10px;
    margin-bottom:20px;
    color: white;
}

hr {
    color: #ffffff;
    background-color: currentColor;
    border: 0;
    opacity: 0.7;
   
}
.tong{
    color:black;
    font-weight: bold;
}
.containerx {
    width: 90%;
    height: fit-content;
    border-radius: 20px;
    padding: 25px;
    margin: 20px auto;
    text-align: center;
    position: relative;
   
    opacity: 0.9;
}
/* --- SUMMARY --- */
.promotion,
.summary,
.checkout {
	float: left;
	width: 100%;
	margin-top: 1.5rem;
}

.promotion>label {
	float: left;
	width: 100%;
	margin-bottom: 1rem;
}

.promotion>input {
    float: left;
    width: 60%;
    font-size: 1rem;
    padding: 1rem 1.5rem;
    border: 2px solid #16cc9b;
    margin-left: 65px;
}

.promotion:hover>input {
	border-color: #f58551;
}

.promotion>button {
	float: left;
	width: 20%;
	padding: 1rem 0.5rem;
}

.promotion:hover>button {
	border-color: #f58551;
	background-color: #f58551;
}

.promotion>button::after {
	content: "\276f";
	font-size: 1rem;
}

.summary {
	font-size: 1.2rem;
	text-align: right;
    margin-bottom:30px;
}

.summary ul li {
	padding: 0.5rem 0;
}

.summary ul li span {
	display: inline-block;
	width: 30%;
}

.summary ul li.total {
	font-weight: bold;
}

.hide {
	display: none !important;
}

/* --- SMALL SCREEN --- */
@media all and (max-width: 599px) {
	.thumbnail img {
		display: none;
	}

	.quantity>input {
		width: 40px;
		height: 40px;
		left: calc(50% - 20px);
	}

	.remove svg {
		width: 40px;
		height: 40px;
	}
}

/* --- MEDIUM & LARGE SCREEN --- */
@media all and (min-width: 600px) {
	html {
		font-size: 14px;
	}

	.container {
		width: 80%;
		max-width: 1080px;
	}

	.thumbnail,
	.detail {
		float: left;
	}

	.thumbnail {
		width: 30%;
	}

	.detail {
		width: 65%;
		padding: 0 1rem;
	}

	.promotion,
	.summary {
		width: 50%;
	}

	.checkout {
		width: 100%;
	}

	.checkout,
	.summary {
		text-align: right;
	}
}

/* --- LARGE SCREEN --- */
@media all and (min-width: 992px) {
	html {
		font-size: 16px;
	}
}
a {
	text-decoration: none;
	color: #333333;
}

a:hover {
	color: #f58551;
}

button {
	background-color: #16cc9b;
	border: 2px solid #16cc9b;
	color: #ffffff;
	transition: all 0.25s linear;
	cursor: pointer;
    height:54px;
}

button::after {
	position: relative;
	right: 0;
	content: " \276f";
	transition: all 0.15s linear;
}

button:hover {
	background-color: #f58551;
	border-color: #f58551;
}

button:hover::after {
	right: -5px;
}

button:focus {
	outline: none;
}

ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}

input {
	outline: none;
}
#message{
  position: relative;
  top: 10px;
  color:green;
}
#err{
  position: relative;
  top: 10px;
  color:red;
}
#sonx{
    height: 0;
}
input[type="submit"] {
    width: 75px;
    height: 35px;
    background-color: #1BB899;
    border: none;
    color: white;
    margin-top:-10px;
}
.nutmua{
    border-radius:10px;
}
.nutmua:hover{
    background-color: #f58551;
}